body {
  font-family: 'Open Sans', sans-serif;
  background: white;
}

.navbar {
  min-height: 140px;
}

.navbar-brand {
  width: 154px;
  height: 80px;
  background-image: url(../img/logo_head.svg);
  background-repeat: no-repeat;
}

.navbar-nav {
  font-size: 23px;
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: #0BC227;
}

#social img:hover, #social-foot img:hover, .service img:hover, .navbar-brand:hover, .navbar-brand-foot:hover {
  filter: invert(47%) sepia(77%) saturate(1042%) hue-rotate(89deg) brightness(110%) contrast(91%);
}

.mask-custom {
  backdrop-filter: blur(5px);
}

header {
  background-image: url(../img/bg_1_mobile.png);
  width: 100%;
  min-height: 733px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  header {
    background-image: url(../img/bg_1.png);
    width: 100%;
    min-height: 733px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.form {
  width: 352px;
  height: 389px;
  background-color: rgba(0, 0, 0, 0.7);
}

.form-group {
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid white;
  background-color: transparent;
  width: 250px;
  font-size: 18px;
  text-align: center;
}

.form-group:focus {
  background-color: transparent;
  outline: none;
  border-color: none;
  box-shadow: none;
}

input::placeholder {
  text-align: center;
  color: white;
}

legend {
  font-size: 23px;
  line-height: 25px;

}

legend>span {
  font-size: 28px;
}

.btn-success {
  width: 250px;
  background-color: #0aa321;
  border-color: #0aa321;
}

.btn-primary {
  background-color: #0aa321;
  border-color: #0aa321;
}

.btn-success:hover, .btn-primary:hover, .btn-primary:focus {
  background-color: #077418;
  border-color: #077418;
  box-shadow: none;
}

.btn-close {
  color: white;
}

.more {
  color:green;
  font-size: 18px;
  text-decoration: none;
}

.service {
  background-image: url(../img/bg_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100%;
}

footer {
  background-color: black;
  min-height: 160px;
}

.navbar-brand-foot>img {
  width: 177px;
  height: 40px;
}

.section1 {
  width: 100%;
  height: 580px;
  background-color: white;
}